fastapi
uvicorn
sqlalchemy
aiomysql

langchain
langchain-chroma
langchain-deepseek
langgraph
langsmith
langchain-huggingface
langgraph-checkpoint-postgres
psycopg[binary]
psycopg-pool
sentence-transformers

pydantic-settings
python-multipart
pandas
openpyxl
tiktoken
tabulate